<h1>Edit Trip</h1>


<form action="/trips/<%=@trip.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label>City: </label>
  <input type="text" name="trip[city]"  value="<%=@trip.city%>">
  <label>Country: </label>
  <input type="text" name="trip[country]"  value="<%=@trip.country%>">
  <label>Dates: </label>
  <input type="date" name="trip[date]"  value="<%=@trip.travel_dates%>">
  <br>
  <input type="submit">
</form>

<form action="/trips/<%=@trip.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>