<h1>Edit Trip</h1>


<form action="/trips/<%=@trip.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label>Trip Name: </label>
  <input type="text" name="trip[name]" value="<%=@trip.name%>">
  <label>City: </label>
  <input type="text" name="trip[city]"  value="<%=@trip.city%>">
  <label>Country: </label>
  <input type="text" name="trip[country]"  value="<%=@trip.country%>">
  <label>Dates: </label>
  <input type="text" name="trip[date]"  value="<%=@trip.date%>">
  <label>Traveled?: </label>
  <input type="text" name="trip[city]"  value="<%=@trip.city%>">
  <input type="submit">
</form>