<h1>New Trip</h1>

<%flash[:message] && flash[:message].each do |m| %>
  <li><%=m%></li>
<%end%>


<form action="/trips/<%=@trip.id %>" method="post">
  <label>Trip Name: </label>
  <input type="text" name="trip[name]" value="<%=@trip.name%>">
  <label>City: </label>
  <input type="text" name="trip[city]"  value="<%=@trip.city%>">
  <label>Country: </label>
  <input type="text" name="trip[country]"  value="<%=@trip.country%>">
  <label>Dates: </label>
  <input type="text" name="trip[date]"  value="<%=@trip.date%>">
  <label>Traveled?: </label>
  <input type="text" name="trip[city]"  value="<%=@trip.city%>">
  <input type="submit">
</form>