<h1>Trip Details</h1>

<p><%= @trip.city %> - <%= @trip.country %></p>
<p><%= @trip.travel_dates %></p>

<% if check_owner(@trip) %>
<form action="/trips/<%=@trip.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>



<a href="/trips/<%=@trip.id%>/edit">Edit this Trip</a>
<% end %>