<h1>Your Trip</h1>

<p><%= @trips.city %> - <%= @trips.country %></p>
<p><%= @trips.travel_dates %> - <%= @trips.traveled? %></p>

<form action="/trips/<%=@item.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>

